<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Nick East - Aspiring Front End Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="title" content="Nick East - Aspiring Front End Developer" />
    <meta
      name="description"
      content="Nick East is an aspiring front end web developer from London, UK. Creating websites and web-apps for the 21st century."
    />
    <meta
      name="keywords"
      content="Web Design, Web Development, Design, Website, Designer, Front End Developer, Front End Development"
    />
    <meta name="author" content="Nick East" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="1 days" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="mobile-menu.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lobster"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Karla:400,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Unica+One&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/png" href="logo.png" />
  </head>
  <body>
    <div class="main-body-wrapper">
      <div class="logo-wrapper">
        <svg
          version="1.0"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 330.000000 308.000000"
          preserveAspectRatio="xMidYMid meet"
          class="main-logo"
        >
          <g
            transform="translate(0.000000,308.000000) scale(0.100000,-0.100000)"
            stroke="none"
          >
            <path
              d="M0 2830 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z"
              class="logo-path"
            />
            <path
              d="M0 1450 l0 -250 875 0 875 0 0 250 0 250 -875 0 -875 0 0 -250z"
              class="logo-path"
            />
            <path
              d="M0 250 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z"
              class="logo-path"
            />
          </g>
        </svg>
      </div>
      <div class="title-wrapper">
        <h1>Nick East</h1>
        <h2>Front End Web Developer</h2>
        <h3>Website Under Construction</h3>
      </div>
      <div class="footer-wrapper"></div>
    </div>
  </body>
</html>
