<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nick East</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Nick East Web Design & Development" />
        <meta name="keywords" content="Web Design, Web Development, Design, Website, Designer, Front End Developer, Front End Development" />
        <meta name="author" content="metatags generator">
        <meta name="robots" content="index, follow">
        <meta name="revisit-after" content="1 days">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="mobile-menu.css"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="/hamburgers.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Unica+One&display=swap" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="logo.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <!--Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138434630-1"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'UA-138434630-1');
        </script>
        <script
        src="https://code.jquery.com/jquery-3.4.0.js"
        integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
        crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    </head>
    <body>
        <header>
                <div id="particles-js" class="main-header">
                    <div class="mobile-menu-wrapper">
                        <a href="/index"><svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="330.000000pt" height="308.000000pt" viewBox="0 0 330.000000 308.000000" preserveAspectRatio="xMidYMid meet" class="main-logo">
                                <g transform="translate(0.000000,308.000000) scale(0.100000,-0.100000)"  stroke="none">
                                    <path d="M0 2830 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                    <path d="M0 1450 l0 -250 875 0 875 0 0 250 0 250 -875 0 -875 0 0 -250z" class="logo-path"/>
                                    <path d="M0 250 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                </g>
                            </svg></a>
                            <div class="menu">
                                    <div class="hamburger hamburger--spring " tabindex="0"aria-label="Menu" role="button" aria-controls="navigation">
                                        <div class="hamburger-box">
                                            <div class="hamburger-inner"></div>
                                        </div>
                                    </div>
                            </div>
                            <div class="mobile-overlay">
                                    <div class="colourful-clip"></div>
                                    <i class="fas fa-times up-arrow"></i>
                                    <nav>
                                        <ul>
                                            <li class="logo-li">
                                                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="330.000000pt" height="308.000000pt" viewBox="0 0 330.000000 308.000000" preserveAspectRatio="xMidYMid meet" class="logo">
                                                    <g transform="translate(0.000000,308.000000) scale(0.100000,-0.100000)"  stroke="none">
                                                        <path d="M0 2830 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                                        <path d="M0 1450 l0 -250 875 0 875 0 0 250 0 250 -875 0 -875 0 0 -250z" class="logo-path"/>
                                                        <path d="M0 250 l0 -250 1650 0 1650 0 0 250 0 250 -1650 0 -1650 0 0 -250z" class="logo-path"/>
                                                    </g>
                                                </svg></li>
                                            <li class="links-border"><a href='/'>Home</a></li>
                                            <li class="links-border"><a href="under-constuction">About</a></li>
                                            <li class="links-border"><a href='/portfolio'>Projects</a></li>
                                            <li class="links-border"><a href="under-constuction">Gallery</a></li>
                                            <li class="links-border"><a href="/contact">Contact</a></li>
                                        </ul>
                                        <div class="desktop-mobile-social">
                                                <ul>
                                                    <li><i class="fab fa-twitter-square"></i></li>
                                                    <li><i class="fab fa-instagram"></i></li>
                                                    <li><i class="fab fa-linkedin"></i></li>
                                                    <li><i class="fab fa-github-square"></i></li>
                                                </ul>
                                        </div>
                                    </nav>
                                    
                            </div>
                    </div>
                    <div class="title-card">
                        <div class="introduction">
                            <h1 data-aos="fade-up">Nick East</h1>
                            <h2 
                            data-aos="fade-up"
                            data-aos-duration="900"
                            data-aos-delay="50"
                            >Aspiring Front End <br>Web-Developer</h2>
                            <div class="button-wrapper"
                            data-aos="fade-up"
                            data-aos-duration="1900"
                            data-aos-delay="500"
                            >
                                <a href="/portfolio"><button class="portfolio-button">Portfolio</button></a>
                                <a href="/contact"><button class="contact-me-button">Contact Me</button></a>
                            </div>
                        </div>
                    </div>
                </div>
        </header>
        <main>
            <div class="skills-section">
                <div class="skew"></div>
                <div class="introduction second-title">
                        <!-- <h1>Default Title..</h1> -->
                        <h1>Hi i'm Nick...</h1>
                        <p>I'm a aspiring front end developer from London, UK currently looking for my first professional position.</p>
                        <p>I build websites, apps, games, play around with photoshop and take photos.</p>
                        <p>This portfolio is still under construction and is subject to change as I can never settle on a design I like.</p>
                </div>
                <aside class="skills-wrapper">
                        <h2>My current skill set</h2>
                        <button class="skills-button">Show</button>
                        <div class="skill-bar-container-wrapper">
                            <div class="individual-skillbar-wrapper">
                                <div class="skillbar-title">
                                    <p>HTML</p>
                                </div>
                                <div class="skillbar">
                                    <div class="inner-skillbar html-bar"></div>
                                </div>
                                <div class="skillbar-scale">
                                    <p class="zero">0%</p>
                                    <p class="onehundred">100%</p>
                                </div>
                            </div>
                            <div class="individual-skillbar-wrapper">
                                    <div class="skillbar-title">
                                        <p>CSS/SASS</p>
                                    </div>
                                    <div class="skillbar">
                                        <div class="inner-skillbar css-bar"></div>
                                    </div>
                                    <div class="skillbar-scale">
                                        <p class="zero">0%</p>
                                        <p class="onehundred">100%</p>
                                    </div>
                            </div>
                            <div class="individual-skillbar-wrapper">
                                    <div class="skillbar-title">
                                        <p>JavaScript</p>
                                    </div>
                                    <div class="skillbar">
                                        <div class="inner-skillbar js-bar"></div>
                                    </div>
                                    <div class="skillbar-scale">
                                        <p class="zero">0%</p>
                                        <p class="onehundred">100%</p>
                                    </div>
                            </div>
                            <div class="individual-skillbar-wrapper">
                                    <div class="skillbar-title">
                                        <p>GIT</p>
                                    </div>
                                    <div class="skillbar">
                                        <div class="inner-skillbar git-bar"></div>
                                    </div>
                                    <div class="skillbar-scale">
                                        <p class="zero">0%</p>
                                        <p class="onehundred">100%</p>
                                    </div>
                            </div>
                            <div class="individual-skillbar-wrapper">
                                    <div class="skillbar-title">
                                        <p>AJAX/APIs</p>
                                    </div>
                                    <div class="skillbar">
                                        <div class="inner-skillbar api-bar"></div>
                                    </div>
                                    <div class="skillbar-scale">
                                        <p class="zero">0%</p>
                                        <p class="onehundred">100%</p>
                                    </div>
                            </div>
                            <div class="individual-skillbar-wrapper">
                                    <div class="skillbar-title">
                                        <p>NodeJS</p>
                                    </div>
                                    <div class="skillbar">
                                        <div class="inner-skillbar node-bar"></div>
                                    </div>
                                    <div class="skillbar-scale">
                                        <p class="zero">0%</p>
                                        <p class="onehundred">100%</p>
                                    </div>
                            </div>
                            <div class="individual-skillbar-wrapper">
                                    <div class="skillbar-title">
                                        <p>UX Design</p>
                                    </div>
                                    <div class="skillbar">
                                        <div class="inner-skillbar ux-bar"></div>
                                    </div>
                                    <div class="skillbar-scale">
                                        <p class="zero">0%</p>
                                        <p class="onehundred">100%</p>
                                    </div>
                            </div>
                            <div class="individual-skillbar-wrapper">
                                <div class="skillbar-title">
                                    <p>Photoshop</p>
                                </div>
                                <div class="skillbar">
                                    <div class="inner-skillbar ps-bar"></div>
                                </div>
                                <div class="skillbar-scale">
                                    <p class="zero">0%</p>
                                    <p class="onehundred">100%</p>
                                </div>
                        </div>
                        </div>
                        
                </aside>
            </div>
            <div class="recent-work-section">
                <div class="skew2"></div>
                <div class="potfolio-wrapper">
                    <h1>My Recent Work</h1>
                    <div class="projects-wrapper">
                        <div class="projects project1"><a href="ocean-capital"><img src="/ocean-capital-placeholder-large.png"></a></div>
                        <div class="projects project2"><a href="weather-app"><img src="/weather-api-placeholder-large.png"></a></div>
                        <div class="projects project3"><a href="creative-agency"><img src="/john-smith-placeholder-large.png"></a></div>
                    </div>
                    <div class="see-more-wrapper">
                       <a href="/portfolio"><button class="see-more-button">see the rest</button></a>
                    </div>
                </div>  
            </div>
            <div class="social-media">
                <div class="social-media-scew"></div>
                <div class="social-media-content">
                    <h4>Check me out online</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                        <a href="#"><i class="fab fa-github-square"></i></a>
                    </div>
                    <h4>or email</h4>
                    <p><a href="mailto:nick_east@yahoo.com">nick_east@yahoo.com</a></p>

                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-content">
                    <h3>Feeling formal?</h3>
                    <p>Then get in contact with me using the form below</p>
                <form method="POST" role="form" action="/contact-form">
                    <div class="contact-main-wrapper">
                        <div class="form-name-wrapper">
                            <label>Name</label>
                            <input type="text" name="name" id="id_name">
                        </div>
                        <div class="form-email-wrapper">
                            <label>Email</label>
                            <input type="email" name="email" id="email-to">
                        </div>
                    </div>
                    <div class="text-wrapper">
                        <label>Message</label>
                        <textarea class="text-box" name="message" id="body-message"></textarea>
                    </div>
                    <div class="submit-button">
                        <button type="submit" value="submit" name="submit" id="send_email">send</button>
                    </div>
                </form> 
            </div>
        </footer>
        <script src="particles.js"></script>
        <script>
            particlesJS.load('particles-js', 'particles.json', function() {
            console.log('callback - particles-js config loaded');
            });
        </script>
        <script>
            // Look for .hamburger
            var hamburger = document.querySelector(".hamburger");
            // On click
            hamburger.addEventListener("click", () => {
                hamburger.classList.toggle("is-active");
            // Do something else, like open/close menu
            });
        </script>
        <script src="script.js"></script>
        <script src="mobile-menu.js"></script>
        <script src="menu-scroll.js"></script>
        <script src="contact-form.js"></script>
        <script>
                AOS.init();
        </script>
        <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
        integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
        crossorigin="anonymous"></script>
    </body>
</html>

<!---data-aos="fade-down" data-aos-delay="1500"x-->
